{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-5">

        <div class="card p-4">

            <h3 class="text-center mb-3">Forgot Password</h3>

            <input id="email" class="form-control mb-3" placeholder="Enter your registered email">

            <button class="btn btn-primary w-100" onclick="checkEmail()">
                Continue
            </button>

            <p id="msg" class="text-center mt-3"></p>

        </div>

    </div>

</div>

<script>
async function checkEmail() {

    let emailValue = document.getElementById("email").value;

    let res = await fetch("/api/check-email/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            email: emailValue
        })
    });

    let data = await res.json();

    if(data.exists){
        window.location.href = "/reset-password/?email=" + emailValue;
    } else {
        document.getElementById("msg").innerText = "Email not found!";
    }
}
</script>

{% endblock %}